body{
    background-color: rgb(204, 200, 200);
}

.formulario input{
    padding: 7px;
    margin: 10px;
    display: block;
}

.formulario button{
    margin-left: 118px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 4px;
}